<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.e.transportervendor">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/eagleshipperlogo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/eagleshipperlogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".HistoryActivity" android:parentActivityName=".ProfileUpdateActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".MainActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".SplashActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:screenOrientation="portrait"
            android:name=".ProfileUpdateActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".LoginActivity" android:screenOrientation="portrait" />
        <activity android:name=".ChatActivity" android:screenOrientation="portrait" />
        <activity
            android:name=".AddVehicleActivity" android:screenOrientation="portrait"
            android:parentActivityName=".ManageVehicleActivity" />
        <activity
            android:name=".ManageVehicleActivity" android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".ProfileActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ClientInfoActivity" android:screenOrientation="portrait"/>

        <service android:name=".ReceivingPushNotification" >
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>